
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="about-us0 animate__animated animate__fadeIn">
    <h3 style="text-align: center;"><b>The Woman</b> – это оптовая компания женского нижнего белья</h3>
    <p>В нашем ассортименте представлены такие бренды как Eva Lelari (Ева Лелари)  Weiyesi (Вееси), Porloma (Порлома), Kaurs Laurel (Карл Лаурель), Mandhari (Мандхари), Suzanne Vega (Сюзанна Вега), AngGee (Ангжи). У нас вы можете купить нижнее белье оптом. Мы предлагаем самые низкие цены, объемы заказов, точные сроки поставок и гарантированное качество. Среди наших клиентов оптовые компании и розничные сетевые магазины женского нижнего белья и  маркетплейсы. Постоянным клиентам мы предлагаем индивидуальные условия поставок. Будем рады видеть Вас в числе наших партнеров и друзей!</p>
    <h3 style="text-align: center;"><b>Выставки</b></h3>
    <p style="text-align: center;" class="min-text">Ежегодно наша компания принимает участие в Международных выставках нижнего белья:</p>
    <p style="text-align: center; line-height: 1;">LINGERIE SHOW-FORUM</p>
    <p style="text-align: center; line-height: 1;">ТЕКСТИЛЬЛЕГПРОМ</p>
    <p style="text-align: center; line-height: 1;">Приглашаем Вас посетить наш стенд и познакомиться с нашей продукцией лично.</p>
    <p style="text-align: center; line-height: 1;">Напишите нам на почту: <a class="mail-ru-sle" href="mailto:sales@optombelie.ru">sales@optombelie.ru</a> и мы вышлем Вам приглашение.</p>
    <br><br><br>
    <div class="flex-row-diplom">
        <div id="tap-one" class="flex-item-diplom marg my-card1">
            <img src="/static/diplom1.png" alt="d1" style="width: 100%;">
        </div>
        <div id="tap-two" class="flex-item-diplom marg my-card1">
            <img src="/static/diplom2.png" alt="d1" style="width: 100%;">
        </div>
        <div id="tap-three" class="flex-item-diplom marg my-card1">
            <img src="/static/diplom3.png" alt="d1" style="width: 100%;">
        </div>
        <div id="tap-four" class="flex-item-diplom my-card1">
            <img src="/static/diplom4.png" alt="d1" style="width: 100%;">
        </div>
    </div>
    <div class="flex-row-diplom">
        <div id="tap-five" class="flex-item-diplom marg my-card1">
            <img src="/static/diplom5.png" alt="d1" style="width: 100%;">
        </div>
        <div id="tap-six" class="flex-item-diplom my-card1">
            <img src="/static/diplom6.png" alt="d1" style="width: 100%;">
        </div>
    </div>
    <br><br><br>
    <h3 style="text-align: center;"><b>Условия сотрудничества</b></h3>
    <p>Приглашаем к сотрудничеству мелкие оптовые компании, а также розничные магазины, которые работают в сегменте женского нижнего белья. Вы можете приобрести любое количество товаров на сумму от 10 000 руб.
Если Ваша компания действующий розничный магазин или розничная сеть, вы можете стать нашим постоянным клиентом на выгодных условиях. Мы предлагаем Вам гибкую систему скидок.
Средним и крупным оптовым компаниям или розничным сетям мы предлагаем сотрудничество на индивидуальных условиях. При этом ваша компания может производить закупки минимальных партий белья на постоянной основе. Мы готовы предоставить Вам особые индивидуальные условия: низкие цены закупки, максимальные скидки, ассортимент и первоочередные отгрузки.<br><br>Команда The Woman всегда поможет вам в выборе ассортимента и позаботится, чтобы вы оперативно получили свой заказ.</p>
    <h3 style="text-align: center;"><b>Как сделать заказ</b></h3>
    <p>Поставка товара осуществляется на основании Заказа покупателя, который вы отправляете в любой удобной для вас форме: по почте, через интернет заказ на нашем сайте или по телефону.
В заказе должно быть указано:</p>
    <ul>
        <li>наименование модели</li>
        <li>размер чашки</li>
        <li>цвет</li>
        <li>количество упаковок</li>
        <li>ФИО ответственного лица</li>
        <li>адрес электронной почты</li>
        <li>номер контактного телефона</li>
    </ul>
    <p>Все заказы оставленные на сайте в не рабочее время, в выходные или праздничные дни, обрабатываются на следующий рабочий день.
Срок оплаты и резервирования заказа 3 рабочих дня.
Отгрузка товара производится <b>на следующий рабочий день после поступления Вашей оплаты</b> на наш расчетный счет. Срок поступления денежных средств от 1 до 2-х банковских дней, в зависимости от банка покупателя и продавца.<br><br>Все товары упакованы в заводскую упаковку или упаковку склада (при отгрузке мелкий опт). Доставка товара осуществляется транспортными компаниями: Деловые линии, ПЭК, Энергия, КИТ, Желдорэкспедиция, СДЭК, EMS почта в любой регион России. </p>
    <h3 style="text-align: center;"><b>Перечень документов для заключения договора поставки</b></h3>
    <p><i><u>Для юридических лиц:</u></i></p>
    <ol>
        <li>Свидетельство о внесении организации в Единый государственный реестр юридических лиц (ОГРН) — копия;</li>
        <li>Свидетельство о постановке на учет в налоговой (ИНН) — копия;</li>
        <li>Доверенность на право заключения договора, в случае, если договор подписывает любое другое лицо кроме генерального директора — копия;</li>
    </ol>
    <p>Все документы предоставляются в копиях с обозначением «Копия верна», заверенные печатью общества и подписью руководителя с расшифровкой его фамилии и должности.</p>
    <br><br>
    <p><i><u>Для индивидуальных предпринимателей (ИП):</u></i></p>
    <ol>
        <li>Свидетельство ОГРН – копия;</li>
        <li>Свидетельство ИНН – копия;</li>
        <li>Копия паспорта (разворот первого и второго листа — с фотографией и лист с указанием адреса постоянной регистрации) – копия;</li>
        <li>Доверенность на право заключения договора, в случае, если договор подписывает любое другое лицо кроме ИП – оригинал или копия, а также копия паспорта доверенного лица (разворот первого и второго листа — с фотографией и лист с указанием адреса постоянной регистрации);</li>
        <li>При отсутствии у ИП печати — письмо от ИП, подтверждающее ведение им деятельности без печати.</li>
    </ol>
    <h3 style="text-align: center;"><b>Возврат и обмен товара</b></h3>
    <p>На основании Постановления Правительства РФ от 19.01.1998 N 55 (ред. от 23.12.2016) товары надлежащего качества не подлежат возврату или обмену на аналогичный товар других размера, формы, габаритов, фасона, расцветки или комплектации.
<br>
В нашем ассортименте Возврату и Обмену не подлежат:</p>
    <ol>
        <li>Комплекты нижнего белья</li>
        <li>Бюстгальтеры</li>
        <li>Корректирующее белье</li>
        <li>Женская одежда для сна и отдыха</li>
        <li>Эротичесткое белье</li>
        <li>Бельевые акссесуары</li>
    </ol>
</div><div class="phone-br"><br><br><br><br><br></div>
{% endblock %}