
{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    .line-h {
        line-height: 1;
    }
</style>
<div class="main-policy animate__animated animate__fadeIn">
    <h3 style="text-align: center;"><b>Политика конфиденциальности</b></h3>
    <br>
    <p class="line-h">Данная политика конфиденциальности описывает, как <b>ООО "THE WOMAN"</b> (далее - "мы", "наш", "компания") собирает, использует, обрабатывает и защищает персональные данные пользователей (далее - "вы", "пользователи") нашего интернет-магазина по продаже нижнего белья (далее - "сайт").</p>
    <br>
    <h4>1. Сбор и использование персональных данных</h4>
    <br><br>
    <p class="line-h">1.1. Мы собираем персональные данные, предоставленные вами добровольно при оформлении заказа. К таким данным могут относиться: имя, адрес, адрес электронной почты, номер телефона и другая информация, необходимая для обработки заказа и предоставления услуг.</p>
    <br>
    <p class="line-h">1.2. Ваши персональные данные могут быть использованы для обработки заказов, предоставления информации о статусе заказа, связи с вами по вопросам заказа или обслуживания, а также для предоставления информации о новых акциях, скидках и продуктах, если вы подписались на нашу рассылку.</p>
    <br>
    <h4>2. Защита персональных данных</h4>
    <br><br>
    <p class="line-h">2.1. Мы прилагаем все усилия для защиты ваших персональных данных от несанкционированного доступа, использования, изменения или раскрытия.</p>
    <br>
    <p class="line-h">2.2. Все персональные данные передаются по защищенным протоколам передачи данных (HTTPS) и хранятся на защищенных серверах.</p>
    <br>
    <p class="line-h">2.3. Мы ограничиваем доступ к вашим персональным данным и даем его только тем сотрудникам, которым это необходимо для обработки заказов и предоставления услуг.</p>
    <br>
    <h4>3. Предоставление информации третьим лицам</h4>
    <br><br>
    <p class="line-h">3.1. Мы не продаем, не обмениваем и не передаем вашу личную информацию третьим лицам, за исключением случаев, когда это необходимо для выполнения ваших заказов (например, передача данных курьерской службе для доставки заказа).</p>
    <br>
    <p class="line-h">3.2. Мы можем раскрывать общую статистическую информацию о пользователях (например, количество заказов определенного продукта), которая не содержит персональной информации.</p>
    <br>
    <h4>4. Использование информации</h4>
    <br><br>
    <p class="line-h">4.1. Мы используем предоставленную вами информацию для следующих целей:</p>
    <ul>
        <li>Обработка и выполнение заказов, включая обработку платежей и доставку товаров;</li>
        <li>Предоставление информации о заказах, обновлений и поддержке клиентов;</li>
        <li>Улучшение нашего интернет-магазина и предоставления вам более персонализированного опыта;</li>
        <li>Связь с вами по поводу важных обновлений или информации о нашем интернет-магазине.</li>
    </ul>
    <br>
    <h4>5. Согласие с политикой конфиденциальности</h4>
    <br><br>
    <p class="line-h">5.1. Используя наш сайт и предоставляя свои персональные данные, вы выражаете свое согласие с этой политикой конфиденциальности.</p>
    <br>
    <p class="line-h">5.2. Если вы не согласны с условиями данной политики конфиденциальности, пожалуйста, воздержитесь от использования нашего сайта и предоставления своих персональных данных.</p>
    <br>
    <h4>6. Изменения в политике конфиденциальности</h4>
    <br><br>
    <p class="line-h">6.1. Мы оставляем за собой право периодически обновлять данную политику конфиденциальности. Изменения вступают в силу с момента их публикации на этой странице.</p>
    <br>
    <p class="line-h">6.2. Пожалуйста, регулярно проверяйте данную страницу, чтобы быть в курсе последних изменений.</p>
    <br>
    <h4>Файлы cookies</h4>
    <br>
    <p>"The Woman" использует файлы cookie (текстовые файлы, размещаемые на вашем компьютере или устройстве) и аналогичные технологии отслеживания, такие как пиксели и веб-маяки. Файлы cookie используются для улучшения функциональности сайта, анализа использования сайта и предоставления вам более персонализированного опыта. Мы также используем файлы cookie для отслеживания вашего взаимодействия с рекламными материалами нашего интернет-магазина.</p>
    <br>
    <p>Вы можете управлять файлами cookie и другими аналогичными технологиями в настройках вашего браузера.</p>
    <br>
    <br>
    <p class="line-h">Если у вас возникли вопросы или требуется дополнительная информация о нашей политике конфиденциальности, вы можете связаться с нами по следующим контактным данным:</p>
    <ul>
        <li><i class="fa-solid fa-envelope fa-sm" style="color: #000000;"></i>&emsp;<a class="help-text" href="matilo:info@optombelie.ru">info@optombelie.ru</a></li>
        <li><i class="fa-solid fa-phone fa-sm" style="color: #000000;"></i>&emsp;<a class="help-text" href="tel:88005008540">8 (800) 500-85-40</a></li>
        <li><i class="fa-solid fa-map fa-sm" style="color: #000000;"></i>&emsp;<a class="help-text" target="_blank" href="https://yandex.ru/maps/?um=constructor%3A7668f73d2919afe868c20023e413806d8b7f1adef64f7708c07ecab5d26f66cc&source=constructorLink">Россия, Ростовская обл.,
 Ростов-на-Дону,
ул. Лелюшенко, 11</a></li>
        <li><i class="fa-brands fa-telegram fa-sm" style="color: #000000;"></i>&emsp;<a class="help-text" target="_blank" href="#">@td3228 (Обращаться по вопросам, связанными с работой сайта)</a></li>
    </ul>
</div><div class="phone-br"><br><br><br><br><br></div>

{% endblock %}